<form action="receive" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>

<div class="container">
  <div class=“row justify-content-center”>
    <div class=“col-12 col-lg-4”>
      <h1 class=“text-center”>Stupid Coaching :triumph:</h1>
      <form action=“/answer” method=“get” class=“d-flex”>
        <label for=“” class=“”>Ask your coach anything</label>
        <input type=“text” name=“question” class=“form-control”>
        <input type=“submit” value=“Ask” class=“btn btn-primary”>
      </form>
    </div>
  </div>
</div>
